langchain-groq==0.3.1
threadpoolctl==3.6.0
langchain==0.3.21
protobuf==5.29.4
idna==3.10
zstandard==0.23.0
pydub==0.25.1
sentry-sdk==2.24.0
SQLAlchemy==2.0.39
pillow==11.1.0
groq==0.20.0
PyAudio==0.2.14
anyio==4.9.0
requests==2.32.3
frozenlist==1.5.0
pip==24.0
attrs==25.3.0
httpx-sse==0.4.0
pydantic==2.10.6
blinker==1.9.0
mypy-extensions==1.0.0
h11==0.14.0
playsound==1.2.2
GitPython==3.1.44
huggingface-hub==0.29.3
networkx==3.4.2
joblib==1.4.2
typing-inspect==0.9.0
itsdangerous==2.2.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
reportlab==4.3.1
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
multidict==6.2.0
setuptools==77.0.3
tokenizers==0.21.1
tenacity==9.0.0
transformers==4.50.0
dataclasses-json==0.6.7
Werkzeug==3.1.3
python-dotenv==1.0.1
regex==2024.11.6
propcache==0.3.0
langsmith==0.3.18
sentence-transformers==3.4.1
gitdb==4.0.12
sniffio==1.3.1
psutil==7.0.0
pydantic-settings==2.8.1
langchain-core==0.3.47
aiohttp==3.11.14
mpmath==1.3.0
yarl==1.18.3
charset-normalizer==3.4.1
numpy==2.2.4
packaging==24.2
torch==2.6.0
wandb==0.19.8
chardet==5.2.0
scipy==1.15.2
certifi==2025.1.31
langchain-huggingface==0.1.2
setproctitle==1.3.5
langchain-community==0.3.20
platformdirs==4.3.7
pydantic_core==2.27.2
httpcore==1.0.7
Jinja2==3.1.6
filelock==3.18.0
distro==1.9.0
fsspec==2025.3.0
docker-pycreds==0.4.0
dotenv==0.9.9
langchain-text-splitters==0.3.7
aiohappyeyeballs==2.6.1
requests-toolbelt==1.0.0
orjson==3.10.15
Flask==3.1.0
sympy==1.13.1
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
flask-cors==5.0.1
smmap==5.0.2
safetensors==0.5.3
marshmallow==3.26.1
annotated-types==0.7.0
six==1.17.0
MarkupSafe==3.0.2
